name: Always Green

on:
  schedule:
    - cron:  '*/15 * * * *'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run a one-line script
        run: |
          echo " " >> README.md
          git config user.name robopsych
          git config user.email edd@robopsych.se
          git add .
          git commit -m "Always green!"
          git push
